.mat-sidenav-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.mat-sidenav-container .mat-sidenav {
  position: absolute;
  background-color: var(--mat-background-color);
  z-index: 3;
  visibility: hidden;
}
.mat-sidenav-container .mat-sidenav.mat-sidenav-left,
.mat-sidenav-container .mat-sidenav.mat-sidenav-right {
  top: 0px;
  bottom: 0;
  min-width: 300px;
  width: 30vw;
  height: 100%;
}
.mat-sidenav-container .mat-sidenav.mat-sidenav-left {
  left: 0;
  transform: translate3d(-100%, 0, 0);
}
.mat-sidenav-container .mat-sidenav.mat-sidenav-right {
  right: 0;
  transform: translate3d(100%, 0, 0);
}
.mat-sidenav-container .mat-sidenav.mat-sidenav-top,
.mat-sidenav-container .mat-sidenav.mat-sidenav-bottom {
  left: 0;
  right: 0;
}
.mat-sidenav-container .mat-sidenav.mat-sidenav-top {
  top: 0;
  transform: translate3d(0, -100%, 0);
}
.mat-sidenav-container .mat-sidenav.mat-sidenav-bottom {
  bottom: 0;
  transform: translate3d(0, 100%, 0);
}
.mat-sidenav-container .mat-sidenav.mat-sidenav-transition {
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.mat-sidenav-container .mat-sidenav.mat-sidenav-opened {
  visibility: visible;
  transform: translate3d(0, 0, 0);
}
.mat-sidenav-container .mat-sidenav.mat-sidenav-opened,
.mat-sidenav-container .mat-sidenav.mat-sidenav-opening {
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2), 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12);
}
.mat-sidenav-container .mat-sidenav.mat-sidenav-opening {
  transform: translate3d(0, 0, 0);
}
.mat-sidenav-container .mat-sidenav.mat-sidenav-closed {
  visibility: hidden;
}
.mat-sidenav-container .mat-sidenav.mat-sidenav-block ul.menu > li:hover > a,
.mat-sidenav-container .mat-sidenav.mat-sidenav-block ul.sub-menu > li:hover,
.mat-sidenav-container .mat-sidenav.mat-sidenav-block ul.sub-menu > li:hover > a {
  background-color: var(--mat-primary);
  color: var(--mat-white);
}
.mat-sidenav-container .mat-sidenav.mat-sidenav-block ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.mat-sidenav-container .mat-sidenav.mat-sidenav-block ul > li {
  position: relative;
  min-height: 64px;
  width: 100%;
  box-sizing: border-box;
}
.mat-sidenav-container .mat-sidenav.mat-sidenav-block ul > li a {
  display: block;
  padding: 24px 20px;
  color: var(--mat-text-color);
  text-decoration: none;
}
.mat-sidenav-container .mat-sidenav.mat-sidenav-block ul > li:before,
.mat-sidenav-container .mat-sidenav.mat-sidenav-block ul > li:after {
  position: absolute;
  top: 20px;
  color: var(--mat-text-color);
}
.mat-sidenav-container .mat-sidenav.mat-sidenav-block ul > li:before {
  visibility: hidden;
  left: 20px;
}
.mat-sidenav-container .mat-sidenav.mat-sidenav-block ul > li:after {
  right: 20px;
}
.mat-sidenav-container .mat-sidenav.mat-sidenav-block ul > li .sub-menu {
  visibility: hidden;
  height: auto;
}
.mat-sidenav-container .mat-sidenav.mat-sidenav-block ul > li .sub-menu a {
  color: var(--mat-text-color);
}
.mat-sidenav-container .mat-sidenav.mat-sidenav-block ul > li.mat-submenu-open > .sub-menu {
  visibility: visible;
}
.mat-sidenav-container .mat-sidenav.mat-sidenav-block ul > li:not(.mat-submenu-open) {
  height: 64px;
}
.mat-sidenav-container .mat-sidenav.mat-sidenav-block ul > li.menu-item-has-children:after {
  font-family: FontAwesome;
  content: "\f078";
}
.mat-sidenav-container .mat-sidenav.mat-sidenav-block ul > li.menu-item-has-children.mat-submenu-open:after {
  content: "\f053";
}
.mat-sidenav-container .mat-sidenav.mat-sidenav-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.mat-sidenav-container .mat-sidenav.mat-sidenav-list ul li a {
  display: block;
  padding: 15px 0 15px 22px;
  color: var(--mat-text-color);
  font-weight: 700;
  text-decoration: none;
}
.mat-sidenav-container .mat-sidenav.mat-sidenav-list ul li .sub-menu li a {
  font-weight: 400;
  padding: 10px 10px 10px 46px;
}
.mat-sidenav-container .mat-overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: 2;
  visibility: hidden;
}
.mat-sidenav-container .mat-overlay.mat-overlay-visible {
  visibility: visible;
  opacity: 1;
}
.mat-sidenav-container.mat-sidenav-open .mat-overlay {
  visibility: visible;
  opacity: 1;
}
.mat-active.mat-sidenav-container {
  z-index: 20;
}
.mat-active.mat-sidenav-container .mat-overlay {
  z-index: 1;
  opacity: 1;
}
.mat-sidenav-container .mat-sidenav-content {
  position: relative;
  transform: translate3d(0, 0, 0);
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
@media screen and (max-width: 768px) {
  .menu-headmenu-container {
    overflow: auto;
  }
}
@media screen and (min-width: 768px) {
  body.admin-bar .mat-sidenav-container {
    top: 32px;
    max-height: calc(100% - 32px);
  }
}
@media screen and (max-width: 768px) {
  body.admin-bar .mat-sidenav-container {
    top: 46px;
    max-height: calc(100% - 46px);
  }
}
